body {
    margin: 0;
    color: #344955;
    /* background-color:#f2f2f2; */
}
/* button { 
    background-color: #F9AA33;
    padding: 14px 40px;

} */
button#create-btn,
button#weather-btn,
button#participate
 { 
  background-color: #F9AA33;
  border:  #4a6572;
  padding: 14px 20px;
  color: #4a6572;
  margin: 20px;
}
button#create-btn:hover,
button#weather-btn:hover,
button#participate:hover {
  background-color: #4a6572;
  color: white;

}
h1{
  margin: 40px;
}


div#main {
    border-radius: 5px;
    padding: 20px;
    /* display: block; */
    width: 50%;
    min-width: 400px;
    text-align: center;
  }

 
  div.btn-group span {
    float: right;
    right: 0px;
  }
  span  button{
    border: 1px solid rgba(0,0,0,.125);
    background-color: rgba(0,0,0,.125);
    height: 42px;
  }

/* NAV */
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F9AA33;
  }
  
  li.nav {
    float: left;
  }
  
  li.nav  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li.nav:hover {
    background-color: #4a6572;
    color: white;
  }


/* Table */
section {
  margin-top: 20px;

}
div.list-group a:hover {
  background-color: #F9AA33;
}




/* Form */
button.btn-close {
  float: right;
  right: 0px;
}
form {
  text-align: left;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;  
  line-height: 1; 
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=text]:focus {
    border: 3px solid #4a6572;
  }
  input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  div.col-md-12{
    padding-top: 20px;
  }
  input[type=submit] {
    width: 100%;
   background-color: #F9AA33;
    color: #4a6572;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
      background-color: #4a6572;
      color: white;
    
  }
  
  