body {
    margin: 0;
    color: #232F34;
    /* background-color:#f2f2f2; */
}
button { 
    background-color: #F9AA33;
    padding: 14px 40px;
    border-radius: 4px;
    border: 2px solid #4a6572;
}
button#create-btn,
button#participate { 
  background-color: #F9AA33;
  border:  #4a6572;
  padding: 14px 20px;
  color: #4a6572;
}

div#main {
    border-radius: 5px;
    padding: 20px;
    /* display: block; */
    width: 50%;
    min-width: 400px;
    text-align: center;
  }
  form#new-event {
    text-align: left;
  }

/* NAV */
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F9AA33;
  }
  
  li.nav {
    float: left;
  }
  
  li.nav  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li.nav a:hover {
    background-color: #4a6572;

  }







/* Form */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=text]:focus {
    border: 3px solid #4a6572;
  }
  input[type=submit] {
    width: 100%;
   background-color: #F9AA33;
    color: #4a6572;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* input[type=submit]:hover {
   background-color: #45a049; 
  } */
  
  